maek-cache.json
objs/
spv/
bin/main
bin/main.exe
bin/main.pdb
.vscode/settings.json
.vscode/tasks.json
performance(render).txt
performance(render)-1.txt
performance(render)-2.txt
Assets/SceneGraphs/house
Assets/SceneGraphs/cartoonforest
